@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}
.pagination li {
  cursor: pointer;
}

.wrapper {
  height: 100vh;
}

.nav-link {
  color: #fff;
  cursor: pointer;
  &:hover {
    color: #efed40;
  }
  &.nav-active {
    color: #efed40;
  }
}
